{% extends "../subbase.html" %}
{% block title %}Student Show Course {% endblock %}
{% block sub_content %}



        <div class="b-example-divider bg-light"></div>
        <section class="p-5">
            <div class="container">
                <div>
                    <h2 class="text-center text-dark m-5">View Course For Student</h2>
                </div>




                <div class="row row-cols-1 row-cols-md-2 g-4">


                    <div class="col">
                        <div class="card h-100 shadow-lg">
                            <div class="card-body p-3">

                                <div class="text-start mt-3">
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">course name :</p>
                                        <p class="lead col">{{single_course_VAR.course_name}}</p>
                                    </div>
                                    <hr>
                                    
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">cours ID</p>
                                        <p class="lead col">{{single_course_VAR.id}}</p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Completed Cases:</p>
                                        <p class="lead col"> {{Allfinsihedlogbooks_Var.count}} </p>
                                    </div>
                                    <hr>



                                </div>
                            </div>



                        </div>

                    </div>

                    <div class="col">
                        {% if not Allfinsihedlogbooks_Var %}
                        <div class="text-center container border m-5">
                        <p class="h1">No Finished LogBook</p>
                        </div>
                        
                        {% else %}
                        <table class="table table-striped table-hover caption-top">
                            <caption class="text-dark fw-bold">Completed cases {{Allfinsihedlogbooks_Var.count}}</caption>
                            <thead>
                                <tr>
                                    <th scope="col">LogbookID</th>
                                    <th scope="col">Approved_DateTime</th>
                                    <th scope="col">Professor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for logbook in Allfinsihedlogbooks_Var %}
                                <tr>
                                    <th scope="row"><a href="{% url 'core:student_show_logbook' logbook.id %}" class="text-decoration-underline text-dark">{{logbook.id}}</a></th>
                                    <td>{{logbook.logbook_date_Approved| date:'D, d M,Y g:i A '}}</td>
                                    <td>{{logbook.logbook_professor.prof_user.name}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>

                </div>
            </div>
        </section>

        <div class="b-example-divider text-bg-light"></div>

        <section class="py-5 bg-light m-5">
            {% if not AllActiveTreatments_VAR %}
            <div class="text-center container px-4 px-lg-5 mt-5 border ">
            <p class="h1">No Active Treatment</p>
            </div>

            {% else %}
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Show All appointment</h2>
                <div class="row row-cols-1 row-cols-lg-4 g-4 justify-content-center">
          
                    {% for treatment in AllActiveTreatments_VAR %}
          
                    <div class="col">
                        <div class="card h-100 border-primary">
                            
                            <div class="card-body p-2">
                                <div class="text-center">
                                  
                                  <p class="h6">Treatment ID:</p>
                                    <p class="lead">{{treatment.id}}</p>
                                  
                                    <hr>
                                    
                                    <p class="h6">Treatment date:</p>
                                    <p class="lead">{{treatment.treatment_date}}</p>
                                    
                                    <hr>
                                    

                                    <p class="h6">Patient Name:</p> 
                                    <p class="lead">{{treatment.treatment_patient.patient_user.name}}</p>
                                    <hr>
                                    <p class="h6">Course Name:</p> 
                                    <p class="lead">{{treatment.treatment_course.course_name}} </p>
                                    
                                </div>
                            </div>
                            
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-success mt-auto" href="{% url 'core:student_show_active_treatment' treatment.id %}">Show This Appointment</a></div>
                            </div>
                        </div>
                    </div>
          
                    {% endfor %}

          
                </div>
            </div>
            {% endif %}
          </section>
          
{% endblock sub_content %}     
          