{% extends "../subbase.html" %}
{% block title %}Student Show Pending Treatment {% endblock %}
{% block sub_content %}





        <div class="b-example-divider bg-light"></div>
        <section class="p-5">
            <div class="container">
                <div>
                    <h2 class="text-center text-dark m-5">View Treatment </h2>
                </div>





                <div class="row row-cols-1 row-cols-md-1 g-4">


                    <div class="col">
                        <div class="card h-100 shadow-lg">
                            <div class="card-body p-3">
                                <div class="text-start mt-3">
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Patient name :</p>
                                        <p class="lead col">{{SinglePendingTreatment_VAR.treatment_patient.patient_user.name}}</p>
                                    </div>
                                    <hr>

                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Email:</p>
                                        <p class="lead col">{{SinglePendingTreatment_VAR.treatment_patient.patient_user.email}}</p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Phone number:</p>
                                        <p class="lead col"> {{SinglePendingTreatment_VAR.treatment_patient.patient_user.mobile}} </p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Date of brith:</p>
                                        <p class="lead col">{{SinglePendingTreatment_VAR.treatment_patient.patient_user.birthdate}} </p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Gender: </p>
                                        <p class="lead col">{{SinglePendingTreatment_VAR.treatment_patient.patient_user.gender}}  </p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Address:</p>
                                        <p class="lead col"> {{SinglePendingTreatment_VAR.treatment_patient.patient_user.address}}  </p>
                                    </div>


                                    <hr>
                                    <div
                                    class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                    <p class="h6 col">Course name:</p>
                                    <p class="lead col">{{SinglePendingTreatment_VAR.treatment_course.course_name}}</p>
                                </div>
                                <hr>
                                <div
                                class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                <p class="h6 col">Student:</p>
                                <p class="lead col">{{SinglePendingTreatment_VAR.treatment_student.student_user.name}}</p>
                            </div>
                            <hr>
                           
                                    <div
                                    class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                    <p class="h6 col">X-ray image:</p>
                                    {% if SinglePendingTreatment_VAR.treatment_diagnosis.patient_xray %}
                                    <p class="lead col"> <a href="{{SinglePendingTreatment_VAR.treatment_diagnosis.patient_xray.url}}"> Here link to X-ray Image</a></p>
                                    {% else %}
                                    <p class="lead col">No X-ray Image</p>
                                    {% endif %}
                                </div>
                                <hr>
                                
                                    <a href="{% url 'core:student_show_patient' SinglePendingTreatment_VAR.treatment_patient.id %}" class="btn btn-lg btn-success col-12">Show Patient Profile</a>
                                   



                                </div>
                            </div>



                        </div>

                    </div>



                </div>
            </div>
        </section>

        <div class="b-example-divider text-bg-light"></div>
        <section class="bg-light shadow-lg m-5 " style="height:300px;">

            <div class="container mt-4">
        
                <h2 class="text-center text-dark">Choose another DateTime for Treatment</h2>
                <form class="account-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
        
                    
                    <label>{{ DateTimeform_VAR.treatment_date.label}}</label>
                  {{ DateTimeform_VAR.treatment_date }}
                  
        
                    <div class="card-footer p-4 pt-0 border-top-0 ">
                        <div class="text-center">
                            <button class="btn  mt-auto btn-success w-50 rounded-pill" type="submit" >Take this Appointment</button>
          
        
                        </div>
                        
                    </div>
                </form>
        
        </section>
        



        <div class="b-example-divider text-bg-light"></div>


{% endblock sub_content %}