{% extends "../base.html" %}
{% load static %}
{% block title %}Student write Logbook{% endblock %}


{% block content %} 


<section class="bg-light shadow-lg m-5 " style="height:500px;">

    <div class="container mt-4">

        <h2 class="text-center text-dark">Upload Report</h2>
        <form class="account-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            
            <label>{{ Report_Form_Var.logbook_report.label}}</label>
          {{ Report_Form_Var.logbook_report }}
          

            <div class="card-footer p-4 pt-0 border-top-0 ">
                <div class="text-center">
                    <button class="btn  mt-auto btn-success w-50 rounded-pill" type="submit" >Submit</button>
  

                </div>
                
            </div>
        </form>

</section>










{% endblock content %}