{% extends "../subbase.html" %}
{% block title %}Professor Show Course{% endblock %}
{% block sub_content %}



        <div class="b-example-divider bg-light"></div>
        <section class="p-5">
            <div class="container">
                <div>
                    <h2 class="text-center text-dark">view LogBook for Student Profile </h2>
                </div>



                <p class="lead text-center text-dark mb-5">
                    LogBook for Student Profile

                </p>

                <div class="row row-cols-1 row-cols-md-2 g-4">


                    <div class="col">
                        <div class="card h-100 shadow-lg">
                            <div class="card-body p-3">
                                <div class="text-center fw-bold">Student Profile</div>
                                <div class="text-start mt-3">
                                    <div
                                    class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                    <p class="h6 col">Student name :</p>
                                    <p class="lead col">{{single_pending_logbook_VAR.logbook_student.student_user.name}}</p>
                                </div>
                                <hr>

                                <div
                                class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                <p class="h6 col">Student ID :</p>
                                <p class="lead col">{{single_pending_logbook_VAR.logbook_student.id}}</p>
                            </div>
                            <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Email:</p>
                                        <p class="lead col">{{single_pending_logbook_VAR.logbook_student.student_user.email}}</p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Phone number:</p>
                                        <p class="lead col"> {{single_pending_logbook_VAR.logbook_student.student_user.mobile}} </p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Date of brith:</p>
                                        <p class="lead col">{{single_pending_logbook_VAR.logbook_student.student_user.birthdate}} </p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Gender: </p>
                                        <p class="lead col">{{single_pending_logbook_VAR.logbook_student.student_user.gender}}  </p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Address:</p>
                                        <p class="lead col"> {{single_pending_logbook_VAR.logbook_student.student_user.address}}  </p>
                                    </div>

                                    <hr>
                                    <div
                                    class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                    <p class="h6 col">Submitted at Datetime:</p>
                                    <p class="lead col">{{single_pending_logbook_VAR.logbook_date_Submitted}}</p>
                                </div>
                                <hr>
                                <div
                                class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                <p class="h6 col">Approved at Datetime:</p>
                                {% if single_pending_logbook_VAR.logbook_date_Approved %}
                                <p class="lead col">{{single_pending_logbook_VAR.logbook_date_Approved}}</p>
                                {% else %}
                                <p class="lead col">Not Approved</p>
                                {% endif %}
                                </div>
                                <hr>





                                </div>
                            </div>



                        </div>

                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-lg">
                            <div class="card-body p-3">
                                <div class="text-start mt-3">

                                    <div
                                    class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                    <p class="h6 col">Patient name :</p>
                                    <p class="lead col">{{single_pending_logbook_VAR.logbook_patient.patient_user.name}}</p>
                                    </div>
                                    <hr>
                                    <div
                                    class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                    <p class="h6 col">Patient ID :</p>
                                    <p class="lead col">{{single_pending_logbook_VAR.logbook_patient.id}}</p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Email:</p>
                                        <p class="lead col">{{single_pending_logbook_VAR.logbook_patient.patient_user.email}}</p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Phone number:</p>
                                        <p class="lead col">{{single_pending_logbook_VAR.logbook_patient.patient_user.mobile}} </p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Date of brith:</p>
                                        <p class="lead col">{{single_pending_logbook_VAR.logbook_patient.patient_user.birthdate}} </p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Gender: </p>
                                        <p class="lead col">{{single_pending_logbook_VAR.logbook_patient.patient_user.gender}} </p>
                                    </div>
                                    <hr>
                                    <div
                                        class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                        <p class="h6 col">Address:</p>
                                        <p class="lead col">{{single_pending_logbook_VAR.logbook_patient.patient_user.address}}</p>
                                    </div>

                                    <hr>

                                    <div
                                    class="row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
                                    <p class="h6 col"> X-RAY image:</p>
                                    <p class="lead col"> <a href="{{single_pending_logbook_VAR.logbook_treatment.treatment_diagnosis.patient_xray.url}}">Link to X-ray img</a> </p>
                                </div>
                                <hr>




                                </div>
                            </div>



                        </div>

                    </div>

                </div>
            </div>
        </section>


        <section class="bg-light shadow-lg align-items-center justify-content-center ">
        <div class="container mt-4 " style="height: 400px;">

                <h2 class="text-start text-dark">Case History For Patient</h2>

                

                <div class=" border rounded mt-3 w-100 bg-white " style="height: 200px;">
                    
                    
                    {% if single_pending_logbook_VAR.logbook_report %}
                    <p class="lead col"> <a class="text-dark" href="{{single_pending_logbook_VAR.logbook_report.url}}">{{single_pending_logbook_VAR.logbook_report}}</a> </p>
               
                    {% else %}
                    <p class="lead col"> <a class="text-dark" href="">No Report Privided</a> </p>
               
                    {% endif %}
                </div>

                

                <div class="card-footer p-4 pt-0 border-top-0 ">
                    <div class="text-center"><a class="btn  mt-3 btn-lg btn-success" href="{% url 'core:professor_approve_logbook' single_pending_logbook_VAR.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                        <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>
                    </svg>Approve</a>

                    </div>
                </div>


        </div>
       
        </section>






        <div class="b-example-divider text-bg-light"></div>


{% endblock sub_content %}
        